<html>
    <head>
        <title>
            Country and Zip
        </title>
        <link href="/styles.css" rel= "stylesheet">
    </head>
    <body>
        <h1>
            Select a country and enter a zip code
        </h1>
        <form action="/zip" method="POST">
            <label for="cars">Choose a country:</label>
                <select name="country" id="country">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                </select>
                <br><br>
            <input type = "text" name="zip" placeholder="Please enter a zipcode">
            <button type = 'submit'>
                Submit
            </button>
        </form>
    </body>
</html>